<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
   <handlers>
     <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Qmuzik\ImportTool\venv\Scripts\python.exe|C:\Qmuzik\ImportTool\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
   </handlers>
  </system.webServer>
  <appSettings>
   <add key="PYTHONPATH" value="c:\Qmuzik\ImportTool" />
   <add key="WSGI_HANDLER" value="main.app" />
   <add key="WSGI_LOG" value="c:\Qmuzik\ImportTool\logs\wfastcgi.log" />
  </appSettings>


</configuration>